@import 'swiper/css/bundle';

@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto:wght@100;300;400;500;700;900&family=Tilt+Prism&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Foldit:wght@300;400;500;600&family=Righteous&family=Roboto:wght@100;300;400;500;700;900&family=Tilt+Prism&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fde68a;
  overflow: hidden;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #eab308;
  border-radius: 7px;
}
